html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
*:before, *:after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

body { font-family: "Open Sans", sans-serif; }

@font-face { font-family: "Brendon"; src: url("fonts/brandon_med.eot"); src: url("fonts/brandon_med.eot?#iefix") format("embedded-opentype"), url("fonts/brandon_med.woff2") format("woff2"), url("fonts/brandon_med.woff") format("woff"), url("fonts/brandon_med.ttf") format("truetype"); font-weight: normal; font-style: normal; }
.title { color: #002334; font: 400 36px/1 "Open Sans", sans-serif; text-align: center; }

.text { color: black; font: 400 16px/1.2 "Open Sans", sans-serif; text-align: center; }

.headline { font: 400 36px/1 "Open Sans", sans-serif; color: #002334; }

.button { height: 48px; line-height: 48px; text-align: center; border-radius: 5px; color: #fff; font-family: "Open Sans"; font-size: 18px; font-weight: 600; display: inline-block; }

.button_dark { background-color: #697c81; }

.button_green { background-color: #79bc00; }

.buying { position: relative; width: 420px; font-size: 0; margin-bottom: 92px; }
.buying_l:before { background: url("../img/btn_wrp.png") no-repeat 0 0; width: 134px; height: 57px; top: 1px; right: 2px; position: absolute; z-index: 1; display: block; content: " "; }
.buying_b { margin: 0 auto 80px; text-align: center; }
.buying_b h4 { color: black; font-family: "Open Sans"; font-size: 24px; font-weight: 400; line-height: 26px; margin-bottom: 38px; }
.buying .button_dark { width: 266px; }
.buying .button_green { width: 129px; position: relative; z-index: 99; margin-left: 20px; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.level__in, .connect__in, .service__in, .l__in, .network__in, .sub__in, .router__in, .win__in, .award__in { width: 1140px; margin: auto; position: relative; }

.headvpn_submenu ul { width: 626px !important; }
.headvpn_submenu li { padding: 5px 25px !important; }
.headvpn .header-nav a { border-bottom: 3px solid transparent; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
.headvpn .header-nav a:hover { border-bottom: 3px solid #1c98d7; padding-bottom: 3px; opacity: 1; }

.level { min-height: 484px; background-color: #FFF; }
.level__left { float: left; width: 378px; position: relative; text-align: left; }
.level__right { margin-left: 378px; overflow: hidden; }
.level_title { margin: 74px 0 15px; }
.level__txt { color: black; margin: 0; font: 400 16px/1.4 "Open Sans", sans-serif; }
.level__logos { margin: 21px 0 30px; }
.level__logos .icon__apple { background: url('../img/icons-sa267404701.png') 0 -51px no-repeat; width: 33px; height: 41px; display: inline-block; margin-right: 11px; }
.level__logos .icon__windows { background: url('../img/icons-sa267404701.png') 0 -687px no-repeat; width: 36px; height: 41px; display: inline-block; margin-right: 11px; }
.level__logos .icon__linux { background: url('../img/icons-sa267404701.png') 0 -532px no-repeat; width: 36px; height: 41px; display: inline-block; margin-right: 11px; }
.level__logos .icon__android { background: url('../img/icons-sa267404701.png') 0 0 no-repeat; width: 36px; height: 41px; display: inline-block; margin-right: 11px; }
.level__logos .icon__ios { background: url('../img/icons-sa267404701.png') 0 -403px no-repeat; width: 53px; height: 41px; display: inline-block; margin-right: 11px; }
.level__cinema { background: url("../img/cinema.png") no-repeat 0 0; width: 766px; height: 484px; position: relative; overflow: hidden; }
.level__cinema .cinema__video { display: block; position: absolute; top: 58px; left: 100px; }
.level__cinema .cinema__play { content: " "; display: block; position: absolute; margin: auto; top: 0; bottom: 0; left: 0; right: 0; cursor: pointer; background: url("../img/play.png") no-repeat 0 0; width: 121px; height: 121px; }

.connect { height: 130px; background-color: #eef3f9; }
.connect__key { display: inline-block; vertical-align: top; }
.connect__pic { background: url("../img/cover.png") no-repeat 0 0; width: 148px; height: 138px; display: inline-block; margin-top: -9px; }
.connect__text { display: inline-block; vertical-align: top; padding: 30px 30px 36px; width: 493px; color: black; font-family: "Open Sans"; font-size: 24px; font-weight: 400; line-height: 32px; }
.connect__input { padding-top: 37px; display: inline-block; vertical-align: top; }
.connect__input .button { width: 184px; position: relative; }
.connect__input .button:active { top: 1px; }
.connect__input input { width: 225px; height: 48px; background-color: white; border-radius: 5px; box-shadow: inset 0 2px 0 #ccd4dd; padding: 0 10px; opacity: 0.75; color: #000; font-family: "Open Sans"; font-size: 18px; font-weight: 600; margin-right: 10px; }
.connect__input input:-ms-input-placeholder { color: #000; }
.connect__input input:-moz-placeholder { color: #000; }
.connect__input input::-moz-placeholder { color: #000; }
.connect__input input::-webkit-input-placeholder { color: #000; }
.connect__input input::placeholder { color: #000; }

.l { font-size: 0; background-color: #fff; }
.l__col { width: 33.33333%; display: inline-block; text-align: center; vertical-align: top; }
.l__item { padding: 63px 20px 69px; }
.l__title { color: black; font: 400 24px/1 "Open Sans", sans-serif; margin-bottom: 20px; }
.l__content { color: black; font: 400 16px/1.4 "Open Sans", sans-serif; margin-bottom: 20px; }
.l__pic { margin-bottom: 40px; display: inline-block; vertical-align: top; min-height: 183px; }
.l__pic img { display: block; margin: auto; }
.l__pic:last-child { margin-bottom: 0; }
.l_test { background-color: #f8fbff; }

.vpn { text-align: center; background-color: #f8fbff; padding-top: 50px; padding-bottom: 55px; font-size: 0; }
.vpn__in { width: 830px; margin: auto; }
.vpn__row { *zoom: 1; }
.vpn__row:after { content: " "; display: table; clear: both; }
.vpn__row_1 h4 { margin-top: 64px; }
.vpn__row_2 { margin-top: -25px; }
.vpn__row_2 h4 { margin-top: 70px; }
.vpn__row_3 { margin-top: -25px; }
.vpn__row_3 h4 { margin-top: 70px; }
.vpn__col { display: inline-block; text-align: left; vertical-align: top; }
.vpn__col .button__more { width: 80px; height: 23px; background-color: #697c81; border-radius: 5px; display: inline-block; text-align: center; color: white; font-family: "Open Sans"; font-size: 12px; font-weight: 400; line-height: 23px; }
.vpn__col_anon { width: 480px; padding-right: 30px; float: left; }
.vpn__col_sec { width: 480px; padding-left: 55px; float: right; }
.vpn__col_free { width: 377px; padding-right: 25px; float: left; }
.vpn_title { margin-bottom: 52px; }
.vpn__name { color: black; font: 400 24px/1 "Open Sans", sans-serif; margin: 55px 0 10px; }
.vpn__content { color: black; font: 400 16px/1.45 "Open Sans", sans-serif; margin-bottom: 15px; }
.vpn__pic { position: relative; color: black; }
.vpn__pic .tpicture { position: absolute; top: 138px; left: 6px; font: 400 14px/1.2 "Open Sans", sans-serif; line-height: 23px; }
.vpn__pic .tpicture p { margin-bottom: 0; }
.vpn__pic .tpicture span:before { content: " "; display: inline-block; margin-right: 5px; background: url("../img/rus.jpg") no-repeat 0 0; width: 14px; height: 11px; }

.service { background-color: #FFF; font-size: 0; text-align: center; }
.service__col { display: inline-block; width: 32%; margin-right: 1.333%; vertical-align: top; text-align: left; margin-bottom: 56px; }
.service__logo { min-height: 50px; margin-bottom: 18px; }
.service_title { margin: 0 0 20px; }
.service_text { margin-bottom: 64px; }
.service__content { font: 400 14px/20px "Open Sans", sans-serif; color: black; margin-bottom: 18px; }
.service__alert { color: #d90000; font: 400 14px/1 "Open Sans", sans-serif; }
.service__more { position: relative; display: inline-block; }
.service__more a { display: inline-block; color: #006fb6; font: 400 24px/1 "Open Sans", sans-serif; text-decoration: underline; vertical-align: middle; position: relative; margin: 73px 0px 67px; }
.service__more:before { content: " "; display: block; position: absolute; top: 0; left: -287px; background: url("../img/multimedia.png") no-repeat 0 0; width: 287px; height: 164px; }
.service__more img { display: inline-block; }

.network { background-color: #f8fbff; padding: 64px 0 55px; }
.network__atlas { float: left; }
.network__countries { margin-left: 718px; overflow: hidden; }
.network_title { margin-bottom: 20px; }
.network_text { line-height: 1.6; margin-bottom: 68px; }

.sub { background-color: #FFF; }
.sub__left { float: left; width: 536px; display: block; padding-right: 80px; }
.sub__left p { color: black; font: 400 16px/23px "Open Sans", sans-serif; }
.sub__right { overflow: hidden; margin-left: 536px; }
.sub_headline { margin-top: 45px; }

.router { text-align: center; background: url("../img/routerbg.png") no-repeat 0 0; width: 1600px; height: 314px; width: auto; height: auto; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; padding-top: 56px; }
.router_headline { margin-bottom: 28px; }
.router_text { width: 520px; margin: auto; line-height: 23px; margin-bottom: 35px; }
.router .button { width: 230px; background-color: #79bc00; margin-bottom: 70px; }

.sub_r { background-color: #f8fbff; }

.win { background: url("../img/windows_bg.jpg") no-repeat 0 0; width: 1600px; height: 315px; text-align: center; width: auto; height: auto; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; padding-top: 58px; }
.win_headline { margin-bottom: 26px; }
.win_text { width: 515px; line-height: 1.4; margin: 0 auto 36px; }
.win .button { width: 170px; margin-bottom: 70px; }
.win__icon { background: url("../img/win.png") no-repeat 0 0; width: 32px; height: 29px; display: inline-block; vertical-align: middle; margin-bottom: 6px; }
.win span { margin-left: 14px; vertical-align: baseline; }

.award { background-color: #eef3f9; overflow: hidden; text-align: center; font-size: 0; padding: 66px 0 70px; }
.award_headline { margin-bottom: 55px; }
.award__pic { margin-bottom: 54px; }
.award .item { width: 50%; display: inline-block; position: relative; vertical-align: top; text-align: left; padding-right: 15px; margin-bottom: 30px; }
.award .item h4 { color: black; font-family: "Open Sans"; font-size: 24px; font-weight: 400; line-height: 1; padding-top: 16px; margin-bottom: 20px; }
.award .item p { color: black; font-family: "Open Sans"; font-size: 16px; font-weight: 400; line-height: 23px; }
.award .item__content { margin-left: 84px; overflow: hidden; }
.award .item__pic { float: left; width: 68px; height: 68px; }
.award .icon__click { background: url('../img/icons-sa267404701.png') 0 -166px no-repeat; width: 57px; height: 57px; display: block; }
.award .icon__download { background: url('../img/icons-sa267404701.png') 0 -263px no-repeat; width: 61px; height: 61px; display: block; }
.award .icon__ip { background: url('../img/icons-sa267404701.png') 0 -454px no-repeat; width: 58px; height: 68px; display: block; }
.award .icon__func { background: url('../img/icons-sa267404701.png') 0 -334px no-repeat; width: 48px; height: 59px; display: block; }
.award .icon__block { background: url('../img/icons-sa267404701.png') 0 -102px no-repeat; width: 73px; height: 54px; display: block; }
.award .icon__protocol { background: url('../img/icons-sa267404701.png') 0 -583px no-repeat; width: 46px; height: 55px; display: block; }
