@font-face {

    font-family:Brendon;

    src:url(fonts/brandon_med.otf);

}

body,html{

    font-family: "Open Sans", sans-serif;

    font-weight: 400;

    margin: 0;

    padding: 0;

    color: #002334;

}

ul{

    margin: 0;

    padding: 0;

    list-style: none;

    vertical-align: middle;

}

h2,h3,p{margin: 0;}

h1{font-size: 48px}

h2 {

    font-size: 36px;

    line-height: 45px;

    letter-spacing: -0.9px;

}

h3 {font-size: 24px;}

a {

    color: inherit;

    text-decoration: none;

    -webkit-transition:.3s;

            transition:.3s;

}

a:hover{opacity: .6;}

li.active a{cursor: default;}

li.active a:hover{opacity: 1;}

.link1{

    color: #006fb6;

    text-decoration: underline;

}

.container{

    width: 1140px;

    margin: 0 auto;

    position: relative;

}

h2 + p {

    margin-top: 20px;

    line-height: 1.4;

}

.center{text-align: center;}

.left{text-align: left;}

.header, .blcok1, .block2, .block3, .block4, .block5, .block6, .footer{width: 100%;min-width: 1140px;}

.header-block1 ul li, .header-block2 ul li, .soc ul, .logo, .logo>.img, .logo>.name, .header-nav, .block2,

.site-list, .block4, .block5,.block6,.block-menu-ft,.soc-list li, .block-press{display: inline-block;}

.header-block1{

    background: #002334;

    color: #7b919b;

    height: 31px;

    font-size: 12px;

}

.logo-name{

    font-family: Brendon;

    font-size: 17px;

    font-weight: bold;

    width: 285px;

    color: #6f8894;

    line-height: 14px;

}

.soc{

    width: 227px;

    text-align: center;

}

.control-vpn, .ip, .soc, .logo-name {

    float: left;

    height: 17px;    

    box-sizing: content-box;

}

.control-vpn, .ip{padding: 7px 17px;}

.control-vpn img, .ip img {

    display: inline-block;

    vertical-align: middle;

    margin-right: 5px;

}

.soc, .logo-name{

    padding: 7px 0;

}

.control-vpn, .ip, .soc{border-right:1px solid #234251; }

.lang{line-height: 31px}

.lang li {padding: 0 0 0 15px;position: relative;}

.lang-img {margin-right: 8px;}

.lang li.active{color: #3c4e56;}

.lang li.active:after {

    content: "";

    width: 0;

    height: 0;

    border-bottom: 5px solid #fff;

    border-right: 5px solid transparent;

    border-left: 5px solid transparent;

    position: absolute;

    bottom: 0;

    left: 16px;

}

.header-block2{

    background: #eef3f9;

    color: #002334;

    height: 92px;

}

.logo {

    padding: 10px 0 0;

    vertical-align: middle;

    width: 37%;

}

.name {

    padding: 12px 0;

    vertical-align: top;

}

.name > p:first-child {

    font-family: Brendon;

    font-size: 38px;

    line-height: 30px;

}

.name > p:last-child{

    font-size: 12px;

    padding: 5px;

}

.header-nav {

    text-align: right;

    width: 62.5%;

}

.header-nav > li {

    font-size: 16px;

    font-weight: 600;

    padding-left: 5%;

}

.header-block3 {

    text-align: center;

    background-color: #98d1ee;

    color: #fff;

}

.header-block3 ul {

    background-color: #1c98d7;

    width: 74%;

    margin: auto;

    position: relative;

    overflow: hidden;

}

.header-block3 ul:before {

    content: "";

    display: block;

    width: 0;

    height: 0;

    border-left: 10px solid #98d1ee;

    border-top: 16px solid transparent;

    border-bottom: 16px solid transparent;

    position: absolute;

    left: 0;

    top: 0;

}

.header-block3 ul:after {

    content: "";

    display: block;

    width: 0;

    height: 0;

    border-right: 10px solid #98d1ee;

    border-top: 16px solid transparent;

    border-bottom: 16px solid transparent;

    position: absolute;

    right: 0;

    top: 0;
    z-index: 100;

}

.header-block3 li {

    display: inline-block;

    padding: 5px 15px;

}

.header-block3 li:first-child {padding: 5px 15px 5px 36px;}

.header-block3 li:last-child {padding: 5px 36px 5px 20px;}

.header-block3 li.active {background-color: #002334;}



.block1 {

    background: #f8fbff;

    height: 460px;

    position: relative;

}

.block-info {

    float: left;

    margin-top: 75px;

    position: relative;

    width: 40%;

    z-index: 1;

}

.block-info h2{

    margin-bottom: 18px;

}

.block-info li {

    display: inline-block;

    margin-right: 6px;

    vertical-align: middle;

}

.block-info > ul {margin-top: 22px;}

.btn {

    background-color: #79bc00;

    border: medium none;

    border-radius: 4px;

    color: #fff;

    font-size: 20px;

    height: 50px;

    margin-top: 29px;

    width: 228px;

    cursor: pointer;

    -webkit-transition:.3s;

            transition:.3s;

}

.btn:hover {

    opacity: .6;

}

.block-input .btn:hover {

    background-color: transparent;

    color: #79bc00;

    opacity: 1;

}

.block-bkg {

    position: absolute;   

    width: 100%;

    z-index: 0;

}

.bkg{z-index: 1000;}

.bkg > img {

    right: -207px;

    position: relative;

    top: 29px;

    width: 82%;

}

.parallax-layer { position: absolute;}



.block2 {

    text-align: center;

    background: #eef3f9;

    padding: 53px 0;

}

.block-input {

    width: 856px;

    margin: auto;

    text-align: left;

    margin-top: 55px;

}

.site-list li{

    display: inline-block;

    padding: 5px 14px 5px 11px;

    position: relative;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dae2eb+0,dae2eb+50,ccd4dd+51,ccd4dd+100 */

    background: #dae2eb; /* Old browsers */ /* FF3.6+ */

    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#dae2eb), color-stop(50%,#dae2eb), color-stop(51%,#ccd4dd), color-stop(100%,#ccd4dd)); /* Chrome,Safari4+ */

    background: -webkit-linear-gradient(top,  #dae2eb 0%,#dae2eb 50%,#ccd4dd 51%,#ccd4dd 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */

    background: -webkit-gradient(linear, left top, left bottom, from(#dae2eb), color-stop(50%, #dae2eb), color-stop(51%, #ccd4dd), to(#ccd4dd));

    background: -webkit-linear-gradient(top, #dae2eb 0%, #dae2eb 50%, #ccd4dd 51%, #ccd4dd 100%);

    background: linear-gradient(to bottom,  #dae2eb 0%,#dae2eb 50%,#ccd4dd 51%,#ccd4dd 100%); /* W3C */

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dae2eb', endColorstr='#ccd4dd',GradientType=0 ); /* IE6-9 */

}

.note img {vertical-align: middle;margin-right: 5px;}

.note::before {

    background: transparent none repeat scroll 0 0;

    border-color: #eef3f9 #eef3f9 transparent transparent;

    border-style: solid;

    border-width: 0 10px 10px 0;

    -webkit-box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);

            box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.5);

    content: "";

    display: block;

    position: absolute;

    right: 0;

    top: 0;

    width: 0;

}

.site-list li:first-child{background: none;}

.input-btn input[type="text"] {

    border: medium none;

    border-radius: 4px;

    -webkit-box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2) inset;

            box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2) inset;

    font-size: 24px;

    height: 55px;

    width: 76%;

    padding-left: 21px;

}

.input-btn .btn {

    height: 58px;

    margin-left: 10px;

    margin-top: 0;

    width: 167px;

    position: relative;

    z-index: 5;

}

.input-btn .btn:before {

    content: "";

    position: absolute;

    background: url(../images/bkg-input1.png) no-repeat;

    width: 100px;

    height: 64px;

    bottom: 0;

    right: 0;

    display: block;

    z-index: 1;

}

.input-btn > div::after {

    background: url("../images/bkg-input2.png") no-repeat scroll 0 0;

    bottom: -5px;

    content: "";

    display: block;

    height: 112px;

    position: absolute;

    width: 121px;

    z-index: 0;

    right: -33px;

}

.input-btn > div {

    display: inline-block;

    position: relative;

}

.input-btn > a {

    border-bottom: 1px dashed;

    display: block;

    float: right;

    margin-right: 185px;

    margin-top: 11px;

    width: 83px;

}



.block3 {

    background-color: #f8fbff;

    text-align: center;

    padding-top: 51px;

}

.block3 p {

    display: block;

    width: 810px;

    margin: 20px auto;

}

.block3 table {

    border: 1px solid #e6e6e6;

    border-collapse: separate;

    margin: 54px auto auto;

    text-align: left;

    width: 855px;

    border-radius: 4px;

    border-spacing: 0;

    font-size: 16px;

}

.block3 tr:first-child {

    height: 60px;

    color: #fff;

    font-size: 18px;

}

.block3 tr:first-child td:nth-child(1n){

    background-color: #697c81;

}

.block3 tr:first-child td:nth-child(2n){

    background-color: #718488;

}

.block3 td:nth-child(1n){

    background-color: #fff;

}

.block3 td:nth-child(2n){

    background-color: #fafbfb;

}

table tr:first-child  td:first-child { border-top-left-radius: 4px; }

table tr:first-child td:last-child { border-top-right-radius: 4px; }

table tr:last-child  td:first-child { border-bottom-left-radius: 4px; }

table tr:last-child  td:last-child { border-bottom-right-radius: 4px; }

.block3 table td {

    padding: 8px 3px 8px 20px;

    line-height: 22px;

}

.yes, .no {

    border-radius: 4px;

    color: #fff;

    display: inline-block;

    font-size: 20px;

    height: 35px;

    line-height: 32px;

    text-align: center;

    vertical-align: middle;

    width: 35px;

    margin-right: 25px;

}

.yes{

    background-color: #79bc00;

}

.yes+span{color: #79bc00}

.no{

    background-color: #697c81;

}

.no+span{color: #697c81;}

.block3 h3{ margin-top: 47px;color: #000;padding-bottom: 65px;}

.block3 img {

    bottom: 0;

    left: 0;

    position: absolute;

}

.block4{

    text-align: center;

    padding: 31px 0 63px;

    color: #000;

}

.info-press {

    float: left;

    margin-right: 1%;

    text-align: left;

    width: 32%;

    margin-top: 45px;

}

.info-press .text {

    padding-top: 20px;

    font-size: 14px;

}

.info-press .logo {

    height: 40px;

}

.link-full {

    margin-top: 10px;

}

.link-full a{

    color: #808080;

    text-decoration: underline;

}

.more {

    border-bottom: 1px dashed;

    color: #006fb6;

    display: inline-block;

    font-size: 24px;

    font-weight: 400;

    margin: 43px auto 0;

    width: 163px;

}

.press-img {

    bottom: -64px;

    position: absolute;

    right: 0;

}



.block5{

    text-align: center;

    background-color: #f8fbff;

    padding: 50px 0;

}

.testimonial {

    font-size: 14px;

    margin-right: 10px;

    margin-top: 50px;

    text-align: left;

    width: 370px;

    float: left;

}

.testimonial .text::before {

    border-right: 14px solid transparent;

    border-top: 14px solid #f0f4fa;

    bottom: -14px;

    content: "";

    display: block;

    height: 0;

    left: 55px;

    position: absolute;

    width: 0;

}

.testimonial .text::after {

    border-right: 14px solid transparent;

    border-top: 14px solid #fff;

    bottom: -13px;

    content: "";

    display: block;

    height: 0;

    left: 56px;

    position: absolute;

    width: 0;

}

.testimonial .text {

    background-color: #fff;

    border: 1px solid #f0f4fa;

    border-radius: 4px;

    padding: 18px;

    position: relative;

}

.block-user{margin-top: 15px;padding-left: 10px;}

.block-user img, .user-name{display: inline-block;}



.user-name > p {

    font-weight: 600;

    font-size: 16px;

}

.block6{

    padding: 24px 0 65px;

}

.block6 h3 a{text-decoration: underline;}

.block-news {

    display: inline-block;

    width: 73%;

}

.block-blog .link1 {

    font-size: 14px;

}

.block-blog {

    display: inline-block;

    padding: 0 30px;

    width: 16%;

    position: relative;

    vertical-align: top;

}

.bkg-cat {

    bottom: -82px;

    right: 162px;

    position: absolute;

    z-index: 5;

}

.article {

    display: inline-block;

    margin-right: 15px;

    padding-top: 10px;

    width: 47%;

}

.date {

    color: #808080;

    display: block;

    font-size: 12px;

    margin: 5px 0;

}

.article  p {

    font-size: 14px;

    margin-top: 5px;

}

.blog-note {

    margin-bottom: 15px;

}

.article img {

    width: auto;

    height: auto;

    max-width: 100%;

    max-height: 100%;

    min-height: 152px;

}

footer {

    background-color: #697c81;

    color: #fff;

    padding: 43px 0;

    font-size: 14px;

}

footer .container{overflow: hidden;}

.block-menu-ft{vertical-align: top;width: 157px;}

.block-menu-ft li {

    line-height: 29px;

}

.block-menu-ft > a{color: #b4c9ce;}

.block-menu-ft li a,footer span a{text-decoration: underline;}

.col2 {

    width: 448px;

}

.col2 li {

    display: inline;

    float: left;

    width: 50%;

}

.block-menu-ft li.active{color:#b4c9ce;}

.block-menu-ft li.active a{text-decoration: none;}

.soc-list {

    width: 300px;

}

.soc-buttons {

    border-radius: 6px;

    display: inline-block;

    font-size: 24px;

    height: 40px;

    line-height: 40px;

    margin: 4px;

    text-align: center;

    width: 40px;

}

.fb{background-color:#046eda}

.tw{background-color:#03aeda }

.gp{background-color:#da0404 }

.vk{background-color:#328bc9 }

.block-copyright {

    margin-top: 33px;

}

.block-copyright span:first-child{

    margin-right: 89px;

}

/*---------------------------start articles-------------------------*/

.preview-article .text {padding-top: 10px;}

.notice {

    font-size: 12px;

    margin-top: 50px;

}

.notice span {color: #b50000;font-weight: 600;}

.preview-article {

    margin-top: 5px;

}

.wrap-inner {

    padding: 0 145px;

}

#inside .link1, #inside .date{font-size: 14px}

#inside .link1{margin-right: 12px}

#inside .date{display: inline;}

#inside .block2{text-align: left;}

#inside .block6{padding: 38px 0 63px}

.inside-par {padding: 10px 0;}

.inside-par .soc {

    border: medium none;

    float: none;

    padding: 20px 0 0;

    height: 40px;

}

.inside-par .soc > img {width: 100%;}

.par1{margin-top: 35px}

.par2 {margin-top: 25px}

img.inner-img {margin-top: 20px;}

.inside-par h3{margin: 35px 0 0}

#inside .press-img{right: -97px;}

/*----------------------------end articles--------------------------*/

/*----------------------------start blog----------------------------*/

#blog .block6{text-align: center;padding:52px 0 65px }

.blog-article{text-align: left;padding: 42px 0 30px;border-bottom: 1px solid #c9d0d2;}

.blog-article h2{color:#006fb6;}

.blog-article .date{margin:15px 0;font-size: 16px;}

.blog-article > img {margin-top: 30px;}

.blog-article > a {margin-top: 25px;display: inline-block;}

.blog-article .link1{margin-right: 7px;}

.pagination li.active {

    background-color: #c9d0d2;

    color: #fff;

}

.pagination li {

    display: inline-block;

    margin-right: 4px;

    padding: 0 12px;

}

.pagination li a {

    font-size: 24px;

    text-decoration: none;

}

.pagination {

    margin-top: 35px;

}

.pagination .fa {

    font-size: 40px;

    vertical-align: sub;

}

.blog .bkg-cat {

    right: -86px;

    width: 13%;

    bottom: -85px;

}

div.inner-img {

    margin-top: 43px;

    text-align: center;

}



div.inner-img > img {

    margin: 0 20px;

}

/*-----------------------------end blog----------------------------*/

/*----------------------------start news----------------------------*/

#news .row {

    padding-top: 25px;

    padding-bottom: 58px;

}

#news .block6{padding: 55px 0 56px;}

#news .article {

    margin-right: 0px;

    padding-top: 0px;

    text-align: left;

    float: none;

    padding-right: 0px;

    max-width: 386px;

    vertical-align: bottom;

    margin-top: 39px;

}

.border{border-bottom: 1px solid #C9D0D2;}

#news .offset{padding-top: 0;padding-bottom: 0}

#news .bkg-cat {

    bottom: -58px;

    right: 0px;

}

#inside-news .offset2{padding: 27px 0px 40px;}

#inside-news .offset3{padding: 0px 0px 63px;}

.float-rght{float: right;}

#inside-news .bkg-cat {

    width: 18%;

    bottom: -65px;

}

/*-----------------------------end news----------------------------*/

