// FAQ
.is-active
	color: #07293b

.is-drop__open
	display: none

.faq-text__in
	padding: 0 60px
	margin-bottom: 51px
.faq
	color: #006fb6

	&__in
		width: 960px
		margin: auto
	&__main
		cursor: pointer
		li
			font-size: 24px
			font-weight: 400
			line-height: 50px
			margin-left: 25px
		i
			display: inline-block
			margin-right: 5px
			+s(plus)
		.is-close
			display: inline-block
			margin-right: 5px
			+s(minus)
			&:before
				display: none
		a
			border-bottom: 1px dotted #006fb6
			text-decoration: none
	&__drop
		li
			font-size: 18px
			font-weight: 600
			line-height: 40px
			margin-left: 20px
			margin-top: -2px
		i
			display: inline-block
			margin-right: 5px
			+s(plus)
	&__second-drop
		margin-bottom: 10px
		li
			font-size: 18px
			font-weight: 400
			margin-left: 12px
			margin-top: -0.5px
		i
			display: inline-block
			margin-right: 5px
			+s(point)
		.is-active__point
			display: inline-block
			margin-right: 5px
			+s(active-point)
			&:before
				display: none
		p
			font-size: 16px
			font-weight: 400
			line-height: 23px
			margin-bottom: 23px
			&:last-child
				margin-bottom: 0

	.faq__second-text
		background-color: #eef3f9
		margin-top: 20px
		margin-bottom: 17px
		margin-left: -9px
		color: #000
		padding: 24px 133px 23px 31px



.study-cat
	background-image: url("../img/test/study-cat.png")
	width: 209px
	height: 180px
	position: absolute
	bottom: -101px
	right: 59px
	+retina
		background-image: url("../img/retina/img-test-x2/study-cat.png")
		+cover


.footer__section
	margin-bottom: 100px
