.proxy
	min-height: 251px
	background-color: #FFF

	&__in
		width: 852px
		margin: auto
		text-align: center
		position: relative
		&:after
			content: " "
			+png(catflag)
			position: absolute
			bottom: 0
			right: -229px-12px
			z-index: 999
			+r(1350)
				display: none

	&_headline
		padding: 55px 0 24px	

	&_text
		text-indent: 40px
		width: 730px
		margin: 0 auto 66px
		line-height: 23px

	.pform
		width: 852px
		height: 295px	
		font-size: 0
		text-align: left
		//overflow: hidden
		+font-smoothing(antialiased)


		&__top
			min-height: 207px
			position: relative
			background-color: #eef3f9
			//overflow: hidden
			padding: 30px 35px 0
			border-top-left-radius: 5px
			border-top-right-radius: 5px
			+clr

		&__bottom
			min-height: 88px
			background-color: #f6faff	
			border-bottom-left-radius: 3px
			border-bottom-right-radius: 3px

		&__left
			float: left
			width: 444px

		&__right
			float: right
			font-size: 16px

			label
				margin-bottom: 10px

		&__col
			display: inline-block	
			vertical-align: top	

		&_country
			width: 179px	
			margin-right: 27px	
			margin-bottom: 16px
			position: relative

		.allcountries
			display: none
			position: absolute
			top: 75px
			left: 0
			z-index: 999
			width: 780px
			height: 729px
			background-color: white
			border: 1px solid #1c98d7
			border-radius: 5px
			box-shadow: 0 4px 0 rgba(0, 0, 0, 0.25)
			padding: 20px 0 20px 16px	
			&:before
				content: ' '
				display: block
				position: absolute
				left: 79px
				top: -11px
				z-index: 100
				+png(tringle)
			&__close
				display: block
				position: absolute
				right: -10px
				top: -10px
				z-index: 100
				+png(close)	
				&:hover
					opacity: 1
					cursor: pointer

			&__col
				width: 190px
				display: inline-block
				vertical-align: top
				font-size: 14px

			.checktext
				padding-left: 30px

			img
				margin: 0 10px 0 0	
				vertical-align: baseline

			&__bl
				margin-bottom: 44px	

			label 
				margin-bottom: 11px


		&_speed
			width: 142px
			margin-bottom: 16px

			label
				padding-right: 10px

			input[type='text']
				

		&_number
			width: 100%
			display: block	

		&_type
			width: 166px	

		&__topname	
			color: black
			font-family: "Open Sans", sans-serif
			font-size: 16px
			font-weight: 600
			line-height: 23px
			margin-bottom: 8px	

		.select
			width: 179px
			height: 38px
			line-height: 36px
			background-color: white
			border: 1px solid #d3d7dc
			border-radius: 5px	
			font-family: "Open Sans"
			font-size: 16px
			font-weight: 400
			color: black
			position: relative
			padding: 0 5px
			cursor: pointer	
			+transition(0.3s)
			span
				color: gray


			&:after	
				content: ' '
				display: block
				top: 50%
				right: 15px
				margin-top: -2px
				border-left: 5px solid transparent
				border-right: 5px solid transparent
				border-top: 5px solid black
				position: absolute


		.is-active
			border-color: #1c98d7

		.is-active + .allcountries
			display: block


		.time
			position: absolute
			z-index: 10
			right: 22px
			top: 8px	
			margin: 0
			font-weight: 400	
			font-size: 16px	

		.checktext
			padding-left: 20px
			&:hover
				cursor: pointer
			&:before
				display: inline-block
				content: ' '
				position: absolute
				left: 0
				top: 2px
				+png(check)

		label > input[type="checkbox"]
			display: none		

		input[type="checkbox"]:checked + .checktext:before
			+png(checked)			

		label
			display: block
			position: relative		

		input[type="text"]
			width: 100%
			height: 38px
			background-color: white
			border: 1px solid #d3d7dc
			border-radius: 5px
			padding: 0 9px
			box-shadow: inset 0 2px 0 rgba(21, 23, 25, 0.06)
			font: 400 16px/23px "Open Sans", sans-serif
			+placeholder
				color: black
				opacity: 0.3

		
		&__buttons
			display: inline-block
			//vertical-align: middle	
			cursor: pointer
			margin: 20px 0 0 31px

		.button_green
			width: 197px
			margin-right: 13px

		.button_dark
			width: 240px		

		&__export
			display: inline-block
			font: 400 16px/1 'Open Sans', sans-serif
			color: black
			margin-left: 36px
			vertical-align: top
			padding-top: 33px

			a	
				font: 400 16px/1 'Open Sans', sans-serif
				text-decoration: underline
				color: #006fb6
				padding-right: 6px
				&:hover
					text-decoration: none

			img
				vertical-align: middle	
				margin: 0 10px	

		
	&__history
		position: relative
		+clr


		> div
			display: inline-block
			vertical-align: middle
			padding: 40px 8px 40px 0
		
		.browser
			display: inline-block

			li
				display: inline-block
				margin-right: 8px

				&:last-child
					margin-right: 0

	
	&__t
		width: 100%
		border-radius: 5px
		text-align: left	
		background-color: white
		font-size: 14px
		position: relative
		border-collapse: collapse

		thead
			background-color: #697c81

		tbody
			border-left: 1px solid #e6e6e6
			border-right: 1px solid #e6e6e6	

		th
			color: white
			font-family: "Open Sans"
			font-size: 16px
			font-weight: 400	
			vertical-align: middle
			height: 62px
			&:first-child
				padding-left: 20px
				border-top-left-radius: 5px
			&:nth-last-child(1)
				padding-right: 10px
				border-top-right-radius: 5px
				font-size: 14px
			&:nth-last-child(2)
				font-size: 14px	
				padding-right: 15px
				+prevent-text

		td
			vertical-align: middle
			height: 50px	
			border-bottom: 1px solid #e6e6e6
			position: relative

			> div
				position: absolute

			span
				position: relative
				z-index: 100	


			img
				margin-right: 9px

			&:nth-child(1)
				width: 140px
				padding-left: 15px	

			&:nth-child(2)
				width: 60px	

			&:nth-child(3)
				width: 302px

			&:nth-child(4)
				text-align: center
				width: 102px		

			&:nth-child(5)
				width: 70px	

			&:nth-child(6)
				width: 76px	

			&:nth-child(7)
				width: 102px
				padding-left: 20px					
			
	
	&__pagination
		display: inline-block
		margin: auto
		position: relative
		font-size: 0
		padding: 40px 0

		li
			display: inline-block

		a
			font-family: "Open Sans"
			font-size: 24px
			font-weight: 400
			color: #006fb6
			padding: 0 10px

			span
				color: #c9d0d2

		.is-active > a
			background-color: #c9d0d2
			color: white	


		.arrow__left > a
			+png(arrow-left)
			position: absolute
			left: -50px
			display: block
			top: 0
			bottom: 0
			margin: auto

		.arrow__right > a
			+png(arrow-right)	
			position: absolute	
			right: -50px
			display: block
			top: 0
			bottom: 0
			margin: auto

			
//VPNSEC
.vpnsec
	min-height: 85px
	background-color: #79bc00		

	&__in
		width: 852px
		margin: auto
		padding: 20px 0 17px
		+clr

	.button
		//margin-top: 20px
		float: right
		color: black
		width: 144px
		line-height: 48px
		display: inline-block	

	&__content	
		overflow: hidden
		padding: 8px 60px 0 0


	h3
		color: white
		font-family: "Open Sans"
		font-size: 24px
		font-weight: 400
		line-height: 26px	
		display: inline-block

	
//STAT
.stat
	background-color: #FFF
	font: 400 16px/1.4 'Open Sans', sans-serif	

	&__in
		width: 852px
		margin: auto
		padding-top: 50px
		padding-bottom: 40px

	&__title
		color: black
		font: 400 24px/1 'Open Sans', sans-serif
		margin-bottom: 30px

	&__pic
		margin: 30px 0 50px	
	
	p
		margin-bottom: 30px

	dt, dl
		margin-bottom: 20px	

	dl
		letter-spacing: 0.002em	


		




