// TOOLS SPEEDTEST

.section-text
	text-align: center
	padding-top: 57px

	&__in
		width: 880px
		margin: auto
		margin-bottom: 62px
	&__title
		h3
			color: #002334
			font: 400 36px/42px 'Open Sans', Arial, Helvetica sans-serif
	&__content
		margin-top: 20px
		margin-left: -8px
		p
			color: #000
			font: 400 16px/23px 'Open Sans', Arial, Helvetica sans-serif

		a
			color: #006fb6
			text-decoration: underline


.begin-text
	&__in
		width: 850px
		margin: auto
		background-color: #eef3f9
		padding: 30px 0
		margin: 0 auto
		border-radius: 5px
		//margin-top: 70px
		text-align: center


	.type-ports
		p, select
			display: inline-block

		&__select
			position: relative
			margin-bottom: 15px
		p
			font: 600 16px/23px 'Open Sans', Arial, Helvetica sans-serif
			color: black
			vertical-align: middle
			margin-right: 10px
			letter-spacing: -0.35px
		.type-ports__item
			vertical-align: middle
			margin: 2px 10px 0 0
			width: 289px
			height: 38px
			background-color: white
			border: 1px solid #d3d7dc
			border-radius: 5px
			font: 400 16px/23px 'Open Sans', Arial, Helvetica sans-serif
			padding-left: 33px
		&__pic
			position: absolute
			top: 14px
			left: 391px

	&__content
		margin: 0 auto
		position: relative
		a
			margin-top: 25px
			&:hover
				background-color: none
	.super-cat
		position: absolute
		right: 8px
		bottom: 19.5%

.green-line
	height: 85px
	background-color: #79bc00
	margin-top: 50px
	&__in
		width: 860px
		margin: auto

	&__text
		display: inline-block
		line-height: 85px
		color: white
		font: 400 24px/26px 'Open Sans', Arial, Helvetica sans-serif
		margin: 30px 38px 30px 0


	&__btn
		float: right
		margin-top: 20px
		line-height: 85px
		background-color: #ffd500
		border-radius: 5px
		text-align: center
		padding: 12px 20px
		font: 600 18px 'Open Sans', Arial, Helvetica sans-serif
		a
			text-decoration: none
			background: none



.details-ports
	margin-bottom: 63px
	margin-top: 50px
	color: black
	font-family: "OpenSans", Arial, Helvetica sans-serif
	font-weight: 400
	line-height: 23px
	&__in
		width: 860px
		margin: auto
		h3
			font-size: 24px
			font-family: "OpenSans", Arial, Helvetica sans-serif
			font-weight: normal
		p
			font-size: 16px
			margin-top: 24px
			font-family: "OpenSans", Arial, Helvetica sans-serif




// PORT-SCANNER

.revise
	&__in
		width: 860px
		margin: auto
		background-color: #eef3f9
		border-top-left-radius: 5px
		border-top-right-radius: 5px
		padding: 30px 0px 30px 0


	.revise__left
		display: inline-block
		margin-right: 31px
		margin-left: -8px
		vertical-align: top
	.porst-enter
		text-align: left
		p
			font: 600 16px/23px 'Open Sans', Arial, Helvetica sans-serif
			letter-spacing: -0.4px
			margin-bottom: 10px
		input
			width: 252px
			height: 38px
			background-color: white
			border: 1px solid #d3d7dc
			border-radius: 5px
			display: block
			margin: 8px 0
			font-size: 16px
			padding: 5px 10px
		a
			color: #006fb6
			font: 400 14px/23px 'Open Sans', Arial, Helvetica sans-serif
			border-bottom: 1px dotted #006fb6
	.ports-body
		text-align: left
		margin-top: 10px
		p
			font: 600 16px/23px 'Open Sans', Arial, Helvetica sans-serif
		select
			width: 252px
			height: 38px
			background-color: white
			border: 1px solid #d3d7dc
			border-radius: 5px
			font-size: 16px
			margin-top: 7px
			padding: 5px 10px

	.revise__right
		display: inline-block
		vertical-align: top
	.result
		text-align: left
		p
			font: 600 16px/23px 'Open Sans', Arial, Helvetica sans-serif
		textarea
			background-color: white
			border: 1px solid #d3d7dc
			border-radius: 5px
			margin-top: 10px
			font-size: 16px
			padding: 5px 10px
			width: 493px
			height: 148px



.scan-section
	&__in
		width: 860px
		margin: auto
		position: relative
		background-color: #f6faff
		border-bottom-left-radius: 5px
		border-bottom-right-radius: 5px
		padding-bottom: 20px
	&__btn, p
		display: inline-block
	.scan-section__btn
		width: 252px
		height: 48px
		margin: 21px 31px 0 -65px
	p
		text-align: left
		vertical-align: bottom
		padding-bottom: 2px
		color: black
		font: 400 14px/23px 'Open Sans', Arial, Helvetica sans-serif
	img
		position: absolute
		right: -211px
		top: -37px


