//For the main VPN
.level__in, .connect__in, .service__in,
.l__in, .network__in, .sub__in, 
.router__in, .win__in, .award__in,
.linux__in, .mac__in, .ios__in, .android__in, .device__in
	width: 1140px
	margin: auto
	position: relative


//HEADER
.headvpn
	&_submenu
		ul
			width: auto !important
			display: inline-block
		li
			padding: 5px 17px !important

	.header-nav
		a
			border-bottom: 3px solid transparent
			+transition(all 0.2s ease)
			
			&:hover
				border-bottom: 3px solid #1c98d7
				padding-bottom: 3px
				opacity: 1

//LEVEL
.level
	min-height: 484px
	background-color: #FFF

	&__in
		+clr

	&__left
		float: left
		width: 378px
		position: relative
		text-align: left

	&__right
		margin-left: 378px
		overflow: hidden	

	&_title
		margin: 78px 0 25px
		line-height: 1.13
		letter-spacing: 0.00003em
		word-spacing: -2px

	&__txt
		color: black
		margin: 0
		font: 400 16px/1.4 'Open Sans', sans-serif
		letter-spacing: 0.00088em

	&__logos
		margin: 21px 0 26px
		@each $s in apple, windows, linux, android, ios
			.icon__#{$s}
				+s(#{$s})
				display: inline-block
				margin-right: 5px	

	.button
		white-spacing: -1px
		text-indent: 5px	
		line-height: 43px		
	

	&__cinema
		+png(cinema)
		position: relative
		overflow: hidden

		.cinema

			&__video
				display: block
				position: absolute
				top: 56px
				left: 103px

			&__play
				content: ' '
				display: block
				position: absolute
				margin: auto
				top: 0
				bottom: 0
				left: 0
				right: 0
				cursor: pointer
				+png(play)


//CONNECT
.connect
	height: 130px
	background-color: #eef3f9

	&__key
		display: inline-block
		vertical-align: top

	&__pic
		+png(cover)	
		display: inline-block
		margin-top: -14px

	&__text
		display: inline-block
		vertical-align: top
		padding: 26px 30px 40px
		width: 493px
		color: black
		font-family: "Open Sans", sans-serif
		font-size: 24px
		font-weight: 400
		line-height: 32px
		letter-spacing: 0.00003em
		word-spacing: -1px

	&__input
		padding: 35px 0 0 23px
		display: inline-block
		vertical-align: top

		.button
			width: 184px
			position: relative
			
			&:active
				top: 1px

		input	
			width: 225px
			height: 48px
			background-color: white
			border-radius: 5px
			box-shadow: inset 0 2px 0 #ccd4dd
			padding: 0 13px
			opacity: 0.75
			color: #000
			font-family: "Open Sans", sans-serif
			font-size: 18px
			font-weight: 600
			margin-right: 7px

			+placeholder
				color: #000
	

//l
.l
	font-size: 0
	background-color: #fff

	&__col
		width: 31.3%
		display: inline-block
		text-align: center
		vertical-align: top


	&__item
		padding: 63px 20px 69px

	.is-center
		margin: 0 3%
		
	&__title
		color: black
		font: 400 24px/1 "Open Sans", sans-serif
		margin-bottom: 20px

	&__content		
		color: black
		font: 400 16px/1.4 "Open Sans", sans-serif
		margin-bottom: 20px
		padding: 0 5px 

	&__pic
		display: inline-block
		vertical-align: top
		min-height: 215px
		position: relative
		width: 100%


		img
			display: block
			margin: auto
			position: absolute
			top: 0
			bottom: 0
			left: 0
			right: 0

		&:last-child
			margin-bottom: 0


	&_cn
		height: 406px
		.l__pic
			min-height: 173px

	&_test
		height: 628px	
		background-color: #f8fbff	

		.l__item
			padding: 11px 0 46px

		.l__pic
			min-height: 241px	

			

			


//VPN
.vpn
	text-align: center
	background-color: #f8fbff
	//padding-top: 50px
	//padding-bottom: 55px
	font-size: 0
	
	&__in
		width: 830px
		margin: auto	

	&__row
		+clr	

	&__row_1

		h4	
			margin-top: 64px	

	&__row_2
		margin-top: -25px

		h4	
			margin-top: 70px	

	&__row_3
		margin-top: -25px

		h4	
			margin-top: 70px			

	&__col
		display: inline-block
		text-align: left
		vertical-align: top


		.button__more	
			width: 80px
			height: 23px
			background-color: #697c81
			border-radius: 5px
			display: inline-block
			text-align: center
			color: white
			font-family: "Open Sans", sans-serif
			font-size: 12px
			font-weight: 400
			line-height: 23px


	&__col_anon
		width: 480px
		padding-right: 30px
		float: left		

	&__col_sec
		width: 480px
		padding-left: 55px
		float: right	

	&__col_free
		width: 377px
		padding-right: 25px
		float: left		
			

	&_title
		padding: 37px 0 60px
		letter-spacing: 0
	
	&__name
		color: black
		font: 400 24px/1 "Open Sans", sans-serif
		margin: 55px 0 10px

	&__content
		color: black
		font: 400 16px/1.45 "Open Sans", sans-serif
		margin-bottom: 15px	

	&__pic
		position: relative
		color: black

		.tpicture
			position: absolute
			top: 138px
			left: 6px
			font: 400 14px/1.2 "Open Sans", sans-serif
			line-height: 23px

			p
				margin-bottom: 0

			span
				
				&:before
					content: ' '
					display: inline-block
					margin-right: 5px
					+jpg(rus)	



//SERVICE
.service
	background-color: #FFF
	font-size: 0
	text-align: center

	&__row 
		margin-bottom: 56px

	&__row.row_2
		margin-bottom: 0	
		
	&__col
		display: inline-block
		width: 32%
		margin-right: 1.333%
		vertical-align: top
		text-align: left
		//margin-bottom: 56px

	&__logo
		min-height: 50px
		margin-bottom: 13px	

	&_title
		padding: 117px 0 20px
		letter-spacing: 0

	&_text
		margin-bottom: 59px
		line-height: 1.4

	&__content
		font: 400 14px/20px 'Open Sans', sans-serif
		color: black
		margin-bottom: 18px

	&__alert
		color: #d90000
		font: 400 14px/1 'Open Sans', sans-serif

	&__wrp
		margin-top: -10px	

	&__more
		position: relative
		display: inline-block
		a 
			display: inline-block
			color: #006fb6
			font: 400 24px/1 'Open Sans', sans-serif
			text-decoration: underline	
			vertical-align: middle
			position: relative
			margin: 73px 0px 67px	
		
		&:before
			content: ' '
			display: block
			position: absolute
			top: 0
			left: -292px
			+png(multimedia)				
				

		img
			display: inline-block


//NETWORK
.network
	background-color: #f8fbff

	&__in
		padding-bottom: 55px

	&_title
		padding: 60px 0 20px	
		letter-spacing: 0

	&__atlas
		float: left

	&__countries
		margin-left: 720px
		overflow: hidden	

	&_text
		line-height: 1.6
		margin-bottom: 60px	


//sub
.sub	
	//min-height: 396px
	height: 396px
	background-color: #FFF

	&__in
		padding-top: 23px
	
	&__left
		float: left
		width: 536px
		display: block
		padding-right: 80px	

		p 
			color: black
			font: 400 16px/23px 'Open Sans', sans-serif

	&__right
		overflow: hidden
		margin-left: 536px	

	&_headline
		margin-top: 36px
		line-height: 1.2	
		letter-spacing: 0

		
//for the ROUTER VPN

//ROUTER
.router
	text-align: center
	+png(routerbg)
	width: auto
	height: auto
	+cover
	padding-top: 56px

	&_headline
		margin-bottom: 28px

	&_text
		width: 520px
		margin: auto
		line-height: 23px
		margin-bottom: 35px

	.button
		width: 230px
		background-color: #79bc00
		margin-bottom: 70px


//SUB
.sub
	
	&_r
		background-color: #f8fbff		

//AWARD
.award
	background-color: #eef3f9
	overflow: hidden
	text-align: center
	font-size: 0
	height: 831px
	padding: 66px 0 50px

	&_headline
		margin-bottom: 55px

	&__pic
		margin-bottom: 54px

	
	.item
		width: 50%
		display: inline-block
		position: relative
		vertical-align: top
		text-align: left
		padding-right: 15px
		margin-bottom: 30px

		h4
			color: black
			font-family: "Open Sans", sans-serif
			font-size: 24px
			font-weight: 400
			line-height: 1
			padding-top: 16px
			margin-bottom: 20px


		p
			color: black
			font-family: "Open Sans", sans-serif
			font-size: 16px
			font-weight: 400
			line-height: 23px	

		&__content
			margin-left: 84px
			overflow: hidden

		

		&__pic
			float: left
			width: 68px
			height: 68px

		

	@each $s in click, download, ip, func, block, protocol 
		.icon__#{$s}
			+s(#{$s})
			display: block		


//TOP
.top
	text-align: center
	background-color: #f8fbff
	overflow: hidden

	&__in
		position: relative
		width: 1140px
		margin: auto

	&_headline
		padding: 58px 0 26px

	&_text
		line-height: 1.4
		//margin-bottom: 36px	
		margin-bottom: 32px
		
	&__wrp
		width: 515px
		margin: auto	
		position: relative

	.button
		margin-bottom: 67px
		width: 276px
		// padding: 0 26px	

	&_r
		+png(router_bg)	
		width: auto
		+cover

	&_router
		&:before
			display: block
			content: ' '
			+png(router)
			position: absolute
			z-index: 100
			right: -7px-280px
			bottom: 0		

		.button
			width: 230px

	&_ios
		&:before
			display: block
			content: ' '
			+png(ios_bg)
			position: absolute
			z-index: 100
			right: -300px
			top: 42px

		span
			margin-left: 14px	
			vertical-align: baseline	

	&_mac
		&:before
			display: block
			content: ' '
			+png(mac_bg)
			position: absolute
			z-index: 100
			right: -36px-344px
			top: 44px

		span
			margin-left: 14px	
			vertical-align: baseline	

	&_android
		&:before
			display: block
			content: ' '
			+png(android_bg)
			position: absolute
			z-index: 100
			right: -51px-370px
			top: 42px

		span
			margin-left: 14px	
			vertical-align: baseline
					
	&_linux
		&:before
			display: block
			content: ' '
			+png(linux_bg)
			position: absolute
			z-index: 100
			right: -10px-370px
			top: 59px	

		span
			margin-left: 14px	
			vertical-align: baseline
				
	&_windows
		&:before
			display: block
			content: ' '
			+png(windows_bg)
			position: absolute
			z-index: 100
			right: -36px-344px
			top: 59px	

		span
			margin-left: 14px	
			vertical-align: baseline

		.button
			width: 170px						
	
	@each $s in ios_i, mac_i, android_i, windows_i, linux_i 
		.icon__#{$s}
			+s(#{$s})
			display: inline-block	
			vertical-align: middle
			margin-bottom: 6px
	


//DEVICE
.device
	height: 790px
	background-color: #eef3f9
	text-align: center
	
	&_android
		.device__in
			width: 958px

	&_ios
		.device__in
			width: 947px

		.device__right
			margin-left: 382px			
		
	&__in
		margin-bottom: 70px
		+clr

	&__left
		float: left

	&__right
		padding-top: 20px
		margin-left: 394px	
	
	&__item
		width: 564px
		display: inline-block
		padding: 20px 30px 26px 20px
		height: 138px
		position: relative
		letter-spacing: 0.005em
		text-align: left

		h4
			color: black
			font: 400 24px/1.1 'Open Sans', sans-serif
			border-bottom: 1px dashed black
			margin-bottom: 14px
			display: inline-block

		p
			color: black
			font: 400 16px/23px 'Open Sans', sans-serif

	&__item.is-active
		background-color: #FFF	
		position: relative

		&:before
			display: block
			content: ' '
			position: absolute
			top: 0
			left: -109px
			border: 69px solid transparent
			//border-left: 20px solid white
			border-right: 40px solid white


	h2
		padding: 63px 0 38px	

